{% extends 'DuckTVAppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Grille{% endblock %}

{% block body %}
    <h1>Grille de la semaine actuelle</h1>

    {{ include("DuckTVAppBundle:Grid:_grid.html.twig") }}

{% endblock %}
