/************

CLASSES PRATIQUES

************/


body, html {
    width:100%;
    height:100%;
    min-height:100%;
    background-color: rgb(241,241,241);
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.animate {
    -webkit-transition: all 0.125s ease-in;
    -moz-transition: all 0.125s ease-in;
    -o-transition: all 0.125s ease-in;
    transition: all 0.125s ease-in;
}

/********************

SELECTION

********************/

::selection {
    background: rgb(36,36,36); /* WebKit/Blink Browsers */
    color:white;
}
::-moz-selection {
    background: rgb(36,36,36); /* Gecko Browsers */
    color:white;
}

/************

BARRE

************/

/* gris 36,36,36 */
/* jaune 250,229,102 */

.bar {
    width: 250px;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background-color:rgb(36,36,36);
}

nav {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

nav ul {
    width: 100%;
}

nav ul li ul li {
    width:100%;
    height: 40px;
    cursor:pointer;
    font-family: "ms-regular";
    text-decoration: none;
    color:white;
    font-size: 16px;
    line-height: 40px;
    box-sizing: border-box;
    position:relative;
}

nav ul li ul li:first-child {
    padding-left: 60px;
}

nav ul li ul li:first-child:hover, .itemClicked {
    background-color: rgb(250,229,102);
    color: rgb(36,36,36);
}

.spanBackgroundBis {
    background-position: center right !important;
}

nav ul li ul li:first-child span {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 10px;
    left: 22px;
}

nav ul li:nth-child(1) ul li:first-child span {
    background: url("../img/pictos/grid.svg") no-repeat left center;
    background-size: 36px;
}

nav ul li:nth-child(2) ul li:first-child span {
    background: url("../img/pictos/avatar.svg") no-repeat left center;
    background-size: 36px;
}

nav ul li:nth-child(3) ul li:first-child span {
    background: url("../img/pictos/videos.svg") no-repeat left center;
    background-size: 36px;
}

nav ul li:nth-child(4) ul li:first-child span {
    background: url("../img/pictos/categories.svg") no-repeat left center;
    background-size: 36px;
}

nav ul li:nth-child(5) ul li:first-child span {
    background: url("../img/pictos/documentation.svg") no-repeat left center;
    background-size: 36px;
}

nav ul li ul li:not(:first-child) {
    padding-left:60px;
    background-color: rgb(16,16,16);
    display:none;
}

nav ul li ul li a {
    width:100%;
    height:100%;
    display:block;
    font-family: "ms-regular";
    text-decoration: none;
    color:white;
    font-size: 16px;
    line-height: 40px;
}

.avatar {
    width:150px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 50%;
    background: url("../img/avatar.png") no-repeat center center;
    background-size: cover;
}

.name {
    width: 100%;
    text-align:center;
    font-family: "ms-regular";
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    padding:20px;
}

.welcome {
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: white;
    font-family: "ms-light";
    box-sizing: border-box;
    padding:20px;
    padding-bottom: 45px;
}

.welcome span {
    color: rgb(250,229,102);
    font-family: "ms-bold";
}

.logout {
    width: 20px;
    height: 20px;
    background: url("../img/pictos/logout.svg") no-repeat left center;
    background-size: 40px 20px;
    display: inline-block;
    margin-left: 7px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
}

/************

CONTAINER

************/

.container {
    width:100%;
    padding-bottom:60px;
    box-sizing: border-box;
    padding-left: 300px;
}

/************

GRILLE

************/

h1, h2{
    color:rgb(36,36,36);
    font-family:"ms-bold";
    font-size:30px;
    padding: 25px;
    padding-left: 15px;
}

table {
    width:95%;
    border-collapse: separate;
    border-spacing: 15px;
}

td {
    background-color: white;
    font-family: "ms-light";
    position: relative;
    width: 241px;
}

td a {
    text-decoration: none;
    color: white;
    font-family: "ms-regular";
    font-size: 12px;
    margin-left:25px;
}

td ul li {
    background-color: rgb(36,36,36);
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 12px;
    position:relative;
}

th {
    background-color: rgb(36,36,36);
    color: white;
    font-family: "ms-regular";
    font-size: 20px;
    min-height: 50px;
    line-height: 50px;
    min-width: 125px;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
}

.thSpecial {
    background-color: transparent;
    text-align: center;
}

.handle, .toggle, .delete-button {
    width: 11px;
    height: 11px;
    display:block;
    position: absolute;
    top:14px;
}

.toggle {
    background: url("../img/pictos/menu_down_arrow.svg") no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;
    right: 10px;
}

.handle {
    background: url("../img/pictos/menu_grid.svg") no-repeat center center;
    background-size: 100% 100%;
    cursor: n-resize;
    left: 10px;
}

.handleAlternative {
    width: 11px;
    height: 11px;
    display:block;
    position: absolute;
    top:14px;
    background: url("../img/pictos/menu_grid.svg") no-repeat center center;
    background-size: 100% 100%;
    left: 10px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.delete-button {
    background: url("../img/pictos/delete.svg") no-repeat center center;
    background-size: 90% 90%;
    cursor: pointer;
    border:none;
    outline: none;
    right: 30px;
}

.fullSlot, .emptySlot {
    font-size: 11px;
    width:100%;
    box-sizing: border-box;
    padding:15px;
    text-align: right;
    font-style: italic;
}

.fullSlot {
    color: rgb(216,0,39);
}

.emptySlot {
    color: rgb(70,200,90);
}

.thumbnail {
    margin-top: 20px;
    width:100%;
    height:100px;
    margin-bottom: 20px;
}

.edit-input {
    border:none;
    outline: none;
    height: 35px;
    background-color: white;
    color: rgb(36,36,36);
    box-sizing: border-box;
    padding:5px;
    line-height: 35px;
    width: 68%;
    display: inline-block;
    vertical-align: top;
}

.input-img {
    width: 29%;
    height:35px;
    background: url("../img/pictos/empty_1.png") no-repeat center center;
    background-size: cover;
    display:inline-block;
}

.edit-button {
    width:16px;
    height:16px;
    background:url("../img/pictos/refresh.svg") no-repeat center center;
    background-size: 100% 100%;
    border:none;
    outline:none;
    cursor: pointer;
    float:right;
    margin-top: -5px;
    margin-right: 5px;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.edit-button:hover {
    -ms-transform: rotate(-360deg); /* IE 9 */
    -webkit-transform: rotate(-360deg); /* Safari */
    transform: rotate(-360deg);
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.broadcastDate {
    color: white;
    font-style: italic;
    font-size: 11px;
    margin-right: 5px;
}

.wrap-droppable {
    box-sizing: border-box;
    width: 100%;
    position:relative;
    height:50px;
}

.item-add .wrap-droppable {
    box-sizing: border-box;
    width: 90%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; /* test */
}

.inputDroppable {
    background-color: rgb(242,242,242);
    border:none;
    outline: none;
    height: 35px;
    color: rgb(36,36,36);
    box-sizing: border-box;
    padding:5px;
    line-height: 35px;
    width: 66%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
}

.item-add .wrap-droppable .inputDroppable {
    margin-left: 3px;
}

.item-add select {
    width: 90%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(242,242,242);
    color: rgb(36,36,36);
    display: block;
}

ul {
    list-style-type: none;
    padding:0;
}

.tab {
    display: none;
}

.wrap-add {
    position: relative;
}

.plus, .minus {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.minus {
    background: url("../img/pictos/trash.svg") no-repeat center center;
    background-size: 100% 100%;
}

.plus {
    background: url("../img/pictos/add.svg") no-repeat center center;
    background-size: 75%;
    position: absolute;
    bottom: 15px;
    right: 40px;
}

.fakeMinus {
    width: 14px;
    height: 14px;
    background: url("../img/pictos/trash.svg") no-repeat center center;
    background-size: 100% 100%;
    opacity: 0.15;
    position: absolute;
    right:15px;
    bottom:15px;
}

.item-add {
    position: relative;
    padding-bottom: 40px;
}

.minus {
    position: absolute;
    right:15px;
    bottom:15px;
}

.refresh {
    width:16px;
    height:16px;
    background:url("../img/pictos/refresh.svg") no-repeat center center;
    background-size: 100% 100%;
    border:none;
    outline:none;
    cursor: pointer;
    float:right;
    margin-top: -5px;
    margin-right: 5px;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.refresh:hover {
    -ms-transform: rotate(-360deg); /* IE 9 */
    -webkit-transform: rotate(-360deg); /* Safari */
    transform: rotate(-360deg);
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.refreshSlot {
    position: absolute;
    top: 15px;
    left: 15px;
    background:url("../img/pictos/refresh_black.svg") no-repeat center center;
    background-size: 100% 100%;
}

.refreshDay {
    position: absolute;
    bottom: 18px;
    right: 20px;
}

.refreshGrid {
    width: 20px;
    height: 20px;
    float: none;
    background:url("../img/pictos/refresh_black.svg") no-repeat center center;
    background-size: 100% 100%;
}

.allVideos {
    width: 95%;
    height: 320px;
    box-sizing: border-box;
    padding:10px;
}

.allVideosInner {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

.singleVideo {
    width: 240px;
    height:135px;
    display:inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.fillGrid {
    margin-left:15px;
    text-decoration: none;
    width:225px;
    text-transform: uppercase;
    background-color: rgb(36,36,36);
    line-height: 35px;
    height: 35px;
    font-family: "ms-regular";
    font-size: 16px;
    color: white;
    display:block;
    text-align: center;
    /*border-radius: 8px;*/
    margin-bottom: 30px;
    margin-top:10px;
}

.fillGrid:hover {
    color: rgb(250,229,102);
}

.transitionTitle {
    text-decoration: none;
    color: white;
    font-family: "ms-regular";
    font-size: 12px;
    margin-left:25px;
}

.edit-input-transition {
    width: 100%;
    margin-top: 20px;
    margin-bottom:20px;
}

.liTransition {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.handleTransition, .toggleTransition {
    top: 20px;
}

.allCategories {
    width: 95%;
    padding: 15px;
    box-sizing: border-box;
}

.sexyCategory {
    width: 225px;
    height:30px;
    line-height: 30px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    background: rgb(36,36,36);
    border-radius: 8px;
}

.category-name {
    font-family: "ms-regular";
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    color: white;
}

.category-edit {
    position: absolute;
    top: 8px;
    right:36px;
    width: 13px;
    height:13px;
    background: url("../img/pictos/edit.svg") no-repeat center center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
}

.category-delete {
    position: absolute;
    top: 9px;
    right:12px;
    width: 12px;
    height:12px;
    background: url("../img/pictos/delete.svg") no-repeat center center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
    border:none;
    outline:none;
}

.fake-category-delete {
    position: absolute;
    top: 9px;
    right:12px;
    width: 12px;
    height:12px;
    background: url("../img/pictos/delete_white.svg") no-repeat center center;
    background-size: 100%;
    opacity: 0.25;
}

label {
    font-family: "ms-bold";
    margin-left: 16px;
    font-size: 18px;
    margin-right: 15px;
    vertical-align: middle;
}

.edit-form div {
    display: inline-block;
}

.edit-form input[type="text"], .edit-form input[type="url"], .edit-form select {
    height: 30px;
    width: 200px;
    border:none;
    outline:none;
    box-sizing: border-box;
    padding: 5px;
    margin-right: 15px;
    vertical-align: middle;
}

.edit-form input[type="submit"] {
    display: inline-block;
    height: 30px;
    border:none;
    outline:none;
    background: rgb(36,36,36);
    color: white;
    text-transform: uppercase;
    width: 100px;
    font-family: "ms-regular";
    font-size: 13px;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.back {
    text-decoration: none;
    font-family: "ms-regular";
    font-style: italic;
    font-size: 14px;
    color: rgb(36,36,36);
    margin-left: 16px;
    margin-top: 20px;
    display: block;
    width: 160px;
}

.back:hover {
    margin-left:20px;
}

.back:before {
    content: '>>> ';
    color: rgb(250,229,102);
    font-family: "ms-regular";
    font-style: italic;
    font-size: 14px;
}

h3 {
    margin-left: 15px;
    font-family: "ms-bold";
    font-size: 18px;
    font-style: italic;
    color: rgb(36,36,36);
    margin-bottom: 30px;
}

h3 span {
    color : rgb(250,229,102);
}

.wrapAllVideosFromCat {
    width: 95%;
    margin-left: 15px;
}

.vidByCat {
    background-color: white;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    display:inline-block;
    box-sizing: border-box;
    padding: 15px;
    vertical-align: top;
    position: relative;
}

.vidByCat-title {
    font-family: "ms-bold";
    font-size: 16px;
    line-height: 24px;
    color :rgb(36,36,36);
    text-decoration: none;
    margin-bottom: 20px;
}

.vidByCat-thumbnail {
    margin-top:15px;
    width:100%;
    height: 150px;
    margin-bottom: 15px;
}

.vidByCat-duration {
    background-color: rgb(36,36,36);
    color: white;
    font-family: "ms-regular";
    font-style: italic;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    position : relative;
}

.vidByCat-cat {
    background-color: rgb(36,36,36);
    color: white;
    font-family: "ms-regular";
    font-style: italic;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}

.video-delete {
    position: absolute;
    top: 10px;
    right:10px;
    width: 12px;
    height:12px;
    background: url("../img/pictos/delete.svg") no-repeat center center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
    border:none;
    outline:none;
}

.vid-single {
    margin-left: 15px;
}

.vid-infos {
    width: 95%;
    margin-left: 15px;
}

.vid-desc {
    font-family: "ms-light";
    font-size: 14px;
    line-height: 21px;
    color: rgb(36,36,36);
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 900px;
}

.vid-duration {
    background-color: rgb(36,36,36);
    width: 900px;
    max-width: 100%;
    height: 30px;
    color: white;
    padding-right: 5px;
    font-family: "ms-regular";
    font-size: 12px;
    line-height: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    position: relative;
}

.vid-duration a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "ms-regular";
    font-size: 12px;
    line-height: 30px;
    box-sizing: border-box;
}

.channel-title {
    display:block;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 0;
}

h1 form {
    display:inline-block;
}

.video-delete-special {
    width: 12px;
    height:12px;
    background: url("../img/pictos/delete.svg") no-repeat center center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
    border:none;
    outline:none;
    display: inline-block;
    vertical-align: middle;
}

.login {
    width: 350px;
    height: 500px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -250px;
    background-color: rgb(36,36,36);
    box-sizing: border-box;
    padding:20px;
    text-align: center;
    padding-top: 100px;
}

.login label {
    display: block;
    font-family: "ms-light";
    font-style: italic;
    font-size:14px;
    color: white;
    margin-bottom: 20px;
}

.login input[type="text"], .login input[type="submit"], .login input[type="password"] {
    height: 30px;
    width: 200px;
    border:none;
    outline:none;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 25px;
    background-color: white;
}

.login input[type="checkbox"] {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 25px;
}

.login input[type="submit"] {
    cursor: pointer;
    margin-top:30px;
    font-family :"ms-bold";
    text-transform: uppercase;
    line-height: 30px;
    color: rgb(36,36,36);
    border: none;
    outline: none;
    padding: 0;
    background-color: rgb(250,229,102);
}

.login div:first-child {
    color: rgb(216,0,39);
    font-family: "ms-light";
    font-size: 14px;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: -25px;
}

/************

FRONT APP

************/

#player {
    position: fixed;
    top: 0;
    right: 0;
}

#wrap-player {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}

#player {
    pointer-events: none;
}

#fullscreen {
    width:35px;
    height:35px;
    position:fixed;
    z-index:2;
    top:35px;
    right:35px;
    cursor:pointer;
}

#fullscreen::before {
    content: '';
    display:block;
    position:fixed;
    top:35px;
    right:35px;
    width:35px;
    height:35px;
    background: url('../img/fullscreen.svg') no-repeat center center;
    background-size: 100% 100%;
}

#squarefullscreen {
    content: '';
    display:block;
    position:fixed;
    top:48px;
    right:45px;
    width:15px;
    height:9px;
    background-color: rgb(252,227,103);
    pointer-events: none;=
}

.squarefullscreenopen {
    top: 46px !important;
    right: 42px !important;
    width: 21px !important;
    height: 13px !important;
}

.wrapPlanning {
    position: fixed;
    top:0;
    left:0;
    width:14%;
    height:100%;
    background-color: rgb(56,56,56);
    z-index: 4;
}

.wrapInfoPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: rgb(56,56,56);
    z-index: 5;
}

.innerInfoPlayer {
    width: 100%;
    height: 100%;
    position: relative;
}

.infoWeather {
    width: 14%;
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(36,36,36);
    color: white;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
}

.infoWeatherIcon {
    height: 38px;
    vertical-align: bottom;
}

.infoHour {
    font-family: "ms-bold";
    font-size: 42px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
}

.infoSeparator {
    height: 20px;
}

.infoTemperature, .infoWind {
    font-family: "ms-regular";
    font-size: 20px;
    display: inline-block;
}

.infoTemperature {
    margin-right: 15px;
}

.infoTemperature span, .infoWind span {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.infoTemperature span {
    margin-right: 5px;
}

.infoWind span {
    background: url("../img/weather/wind.svg") no-repeat center center;
    background-size: 100% 100%;
}

.infoTemperature span {
    background: url("../img/weather/temperature.svg") no-repeat center center;
    background-size: 100% 100%;
}

.infoTweet {
    position: absolute;
    width: 86%;
    height: 40px;
    bottom: 0;
    right: 0;
    background-color: rgb(16,16,16);
    line-height: 40px;
    font-family: "ms-regular";
    font-size: 16px;
    color: rgb(150,150,150);
    box-sizing: border-box;
    padding-left: 40px;
    font-style: italic;
}

.videoTitle {
    position: absolute;
    left: 16%;
    margin-top: 35px;
    font-family: "ms-regular";
    font-size: 30px;
    color: white;
}

.videoTitle span {
    display:block;
    margin-top: 15px;
    width: 60px;
    height: 3px;
    background-color: rgb(36,36,36);
}

.barPlayer {
    position: absolute;
    left: 60%;
    width: 30%;
    height: 30px;
    margin-top: 40px;
}

.innerBarPlayer {
    width: 100%;
    height: 100%;
    position: relative;
}

.barBackground {
    position: absolute;
    top: 14px;
    width: 100%;
    height: 3px;
    background-color: rgb(36,36,36);
}

.barPosition {
    position: absolute;
    top: 14px;
    width: 0;
    height: 3px;
    background-color: rgb(250,229,102);
    z-index: 6;
}

.barCursor {
    position: absolute;
    top:8px;
    left: 0;
    margin-left: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(250,229,102);
}

.timeRemaining {
    font-family: "ms-bold";
    font-size:20px;
    color: rgb(36,36,36);
    position: absolute;
    right: -115px;
    top: 3px;
}

.innerWrapPlanning {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapPlanning:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    background: rgb(36,36,36);
}

.wrapPlanning h1 {
    position: absolute;
    font-family: "ms-bold";
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 34px;
    margin-top: -10px;
    z-index: 6;
    width: 100%;
    top: 150px;
    padding: 0;
}

.logo {
    position: absolute;
    width: 100px;
    z-index: 6;
    margin-left: -50px;
    left: 50%;
    top: 35px;
    display:block;
}