{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="login">
        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
